.container {
  padding-bottom: 4.5rem;
}

.container header {
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0;
}

.container main {
  margin: 0 auto;
  max-width: 736px;
  padding: 0 1rem;
}

.container main form {
  margin-top: -1.6875rem;
  display: flex;
  gap: 0.5rem;
}

.container main form button {
  height: 3.375rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--blue-700);
  font-weight: 700;
}

.container main form button:disabled {
  background-color: var(--gray-300);
}

.container main form button:hover {
  background-color: var(--blue-800);
}

.container main form button:disabled:hover {
  background-color: var(--gray-300);
}

.container .tasksInfo {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.container .tasksInfo div {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
}

.container .tasksInfo .createdTasksInfo {
  color: var(--blue-400);
}

.container .tasksInfo .completedTasksInfo {
  color: var(--purple-400);
}

.container .tasksInfo span {
  font-size: 0.75rem;
  line-height: normal;
  color: var(--gray-200);
  background-color: var(--gray-400);
  border-radius: 99999px;
  padding: 0.125rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container main > .noTasksContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray-300);
  text-align: center;
}

.container main > .noTasksContainer svg {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--gray-400);
  margin-bottom: 1rem;
}

.container main > ul {
  margin-top: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
